<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamer.teapot.project.environment.dao.ProjectEnvironmentDAO">

    <!--为项目关联数据库实例-->
    <insert id="addProjectEnvironment" parameterType="com.teamer.teapot.common.model.ProjectEnvironment">
        insert into
        t_project_environment(environmentId, projectId, environmentName, environmentHost)
        value
        (
        #{environmentId},
        #{projectId},
        #{environmentName},
        #{environmentHost}
        )
    </insert>

    <select id="queryProjectEnvironmentList"
            parameterType="com.teamer.teapot.common.model.ProjectEnvironment"
            resultType="com.teamer.teapot.common.model.ProjectEnvironment">
        select
        id,environmentId,projectId,environmentName,environmentHost
        from t_project_environment
        where projectId = #{projectId}
        <if test="environmentId!=null">
            environmentId like concat ('%',#{environmentId},'%')
        </if>
        <if test="environmentName!=null">
            environmentName like concat ('%',#{environmentName},'%')
        </if>
    </select>


</mapper>