<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamer.teapot.rbac.UserDAO">

    <select id="queryPortalUser" parameterType="com.teamer.teapot.rbac.PortalUser"
            resultType="com.teamer.teapot.rbac.PortalUser">
       select
          userId,
          username,
          password
       from t_portal_user
       where username = #{username}
  </select>
</mapper>